* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TimesNewRoman, serif;
}

.hr, .min, .sen {
	position: absolute;
}

body {
	overflow: hidden;
}

section { 
	-ms-overflow-style: none; 
} 

section::-webkit-scrollbar { 
	display: none; 
} 

ol {
	display: flex;
	flex-wrap: wrap;
}

li {
	background-color: black;
	color: white;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:hover {
	border-radius: 50%;
}

.hr {
	width: 50vw;
}

.min {
	width: 50vw;
	left: 50vw;
}

.sen {
	width: 100vw;
	height: 5vw;
	bottom: 0;
	background-color: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}


.hr li {
	width: 8.3333vw;
	height: 8.3333vw;

}

.min li {
	width: 5vw;
	height: 5vw;
}


@media screen and (max-width: 900px) {

	.hr {
		height: 100dvh;
		overflow: auto;
	}
	.hr li {
		width: 25vw;
		height: 25vw;
		overflow: auto;
	}

	.min li {
		width: 10vw;
		height: 10vw;
	}
}