* {
	margin: 0;
	padding: 0;
	font-family: cursive, "SM3ssmj", serif;

}

a {
	color: white;
}

#layer {
	position: absolute;
	width: 900px;
	height: 4000px;
	top: 250px;
	left: 50%;
	transform: translate(-50%);
}

li {
	list-style: none;
}

body {
	padding: 10px;
	color: white;
}

img {
	width: 400px;
	z-index: 99;
}

.ver {
	width: 500px;
}

.bc01 {
	position: absolute;
	top: 10000px;
	left: 10%;
}

.bc03 {
	position: absolute;
	top: 17800px;
	left: 50%;
}

.a1_1 {
	position: absolute;
	left: 40%;
}

.g03 {
	position: absolute;
  top: 1000px;
  left: 10%;
}

.b {
	position: absolute;
  top: 1%;
  left: 500px;
}

.b01 {
	position: absolute;
	top: 2500px;
	left: 70%;
}

.b02 {
	position: absolute;
	top: 10500px;
	left: 50%;
}

.b03 {
	position: absolute;
	top: 17300px;
	left: 30%;
}

.b04 {
	position: absolute;
	top: 9000px;
	left: 30%;
}

.f01 {
	position: absolute;
	top: 500px;
	left: 30%;
}

.f02 {
	position: absolute;
	top: 2550px;
	left: 10%;
}

.f03 {
	position: absolute;
	top: 3200px;
	left: 20%;
}

.f04 {
	position: absolute;
	top: 3600px;
	left: 80%;
}

.f05 {
	position: absolute;
	top: 15800px;
	left: 80%;
}

.sc01 {
	position: absolute;
  top: 7500px;
  left: 50%;
}

.sc02 {
	position: absolute;
  top: 6500px;
  left: 10%;
}

.sc03 {
	position: absolute;
  top: 11500px;
  left: 60%;
}

.sc04 {
	position: absolute;
  top: 5300px;
  left: 10%;
}

.sc05 {
	position: absolute;
  top: 4300px;
  left: 10%;
}

.sc06 {
	position: absolute;
  top: 9500px;
  left: 0%;
}

.sc07 {
	position: absolute;
  top: 9600px;
  left: 60%;
}

.sc08 {
	position: absolute;
  top: 8600px;
  left: 60%;
}

.sc09 {
	position: absolute;
  top: 12000px;
  left: 20%;
}

.sc10 {
	position: absolute;
  top: 11200px;
  left: 30%;
}

.sc11 {
	position: absolute;
  top: 16800px;
  left: 40%;
}

.ob01 {
	position: absolute;
  top: 1900px;
  left: 20%;
}

.ob02 {
	position: absolute;
  top: 5800px;
  left: 70%;
}

.w01 {
	position: absolute;
  top: 5100px;
  left: 50%;
}

.dg01 {
	position: absolute;
  top: 6100px;
  left: 30%;
}

.dg02 {
	position: absolute;
  top: 15000px;
  left: 40%;
}


.tr01 {
	position: absolute;
  top: 400px;
  left: 60%;
}

.tr02 {
	position: absolute;
  top: 16500px;
  left: 80%;
}

.tr03 {
	position: absolute;
  top: 6200px;
  left: 60%;
}

.tr04 {
	position: absolute;
  top: 100px;
  left: 90%;
}

.tr05 {
	position: absolute;
  top: 13000px;
  left: 20%;
}

.tr06 {
	position: absolute;
  top: 8000px;
  left: 70%;
}

.tr07 {
	position: absolute;
  top: 15500px;
  left: 70%;
}

.tr08 {
	position: absolute;
  top: 12500px;
  left: 70%;
}


.rc01 {
	position: absolute;
  top: 1200px;
  left: 50%;
}

.rc02 {
	position: absolute;
  top: 4500px;
  left: 60%;
}

.rc03 {
	position: absolute;
  top: 3500px;
  left: 45%;
}

.rc04 {
	position: absolute;
  top: 1600px;
  left: 0%;
}

.sn01 {
	position: absolute;
  top: 7000px;
  left: 0%;
}

.sn02 {
	position: absolute;
  top: 2800px;
  left: 3%;
}

.sn03 {
	position: absolute;
  top: 400px;
  left: 0%;
}

.g02 {
	position: absolute;
  top: 16000px;
  left: 50%;
}

.g04 {
	position: absolute;
  top: 2100px;
  left: 50%;
}



@font-face {
	font-family: "SM3ssmj";
	src: url(assets/fonts/SM3ssmj.otf);
}

#bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 19000px;
	background: linear-gradient(#3A5C36, #4B7547, #52884D, #73A44B, #477737);
	z-index: -1;
}

#month,
#index,
#time,
#minimap {
	position: fixed;
	border: 1px solid white;
}

h1 {
	position: fixed;
	top: 30px;
	left: 50%;
	transform: translate(-50%);
	z-index: 99;
	font-size: 16px;
	font-family: cursive, "SM3ssmj", serif;
	font-weight: normal;
	writing-mode: vertical-lr;
}

.ssmj {
	font-family: "SM3ssmj";
}

.cursive {
	font-family: cursive;
}

ul {
	list-style: none;
}

dt, dd {
	display: inline-block;
}

fieldset {
	padding: 0 10px 10px 10px;
}

legend {
	text-align: center;
}

body { 
-ms-overflow-style: none; 
} 

::-webkit-scrollbar { 
display: none; 
} 

/* ------------ 길 ------------ */
#road {
	position: absolute;
	top: 240px;
	left: 50%;
	transform: translate(-50%);
	width: 600px;
	height: 5900px;
/*	border: 1px solid white;*/
}

#road img {
	width: 100%;
	opacity: 0.1;
}

/* ------------ 위젯 1 ------------ */
#index {
	top: 16px;
	left: 20px;
	width: 120px;
	height: auto;
}

#time {
	top: 400px;
	left: 20px;
	width: 120px;
	height: auto;
}

/* ------------ 위젯 2 ------------ */

#minimap {
	position: fixed;
	top: 16px;
	right: 20px;
	width: 40px;
	height: 750px;
}

#minimap legend {
	line-height: 1;
}

#minimap img {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 40%;
	opacity: 0.5;
}
/* ------------ 위젯 3 ------------ */
#month {
	bottom: 25px;
	left: 50%;
	transform: translate(-50%);
	width: 350px;
	height: 85px;
}

#month div {
	display: inline-block;
}

#month label {
	line-height: 0.2;
}

#month div {
	width: 54px;
}


@media screen and (max-width: 900px)  {
 h1 {
 	font-family: "바탕체", serif;
 }

 .ssmj {
	font-family: "SM3ssmj";
	letter-spacing: 3.5px;
}
}


