* {
	margin: 0;
	padding: 0;
	word-break: keep-all;
	font-family: helvetica neue, sans-serif;
}

body {
/*	background-color: #E0E4DC;*/
	overflow: hidden;
}

a {
	color: black;
}

h2 {
	position: absolute;
	top: 2px;
	left: 50%;
	transform: translate(-50%);
	display: block;
	width: 100%;
	border-bottom: black 1px solid;
	text-align: center;
	font-weight: normal;
	font-size: 16px;
	padding: 10px;
}

/*#cg h2 {
	background-color: #F3ECFF;
}

#ano h2 {
	background-color: #003396;
}

#ycg h2 {
	background-color: #4A0090;
}*/

/*#cg ol {
	background-color: #FFFB00;
}

#ano ol {
	background-color: #00433A;
}

#ycg ol {
	background-color: #A5B6A4;
}*/

ol {
	position: absolute;
	width: 80%;
	height: auto;
	top: calc(50% + 20px);
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
}

li {
	list-style: none;
	text-align: center;	
}

figure {
	font-size: 0;
}

img {
	box-shadow: 0px 0px 5px gray;
}

figcaption {
	padding: 5px;
	font-size: 12px;
	margin-top: 10px;
}

button {
	background-color: transparent;
	padding: 5px;
	border: none;
}

.black {
  color: transparent;
  text-shadow: 0 0 0 rgb(0, 0, 0);
}

.sizea {
	width: 100%;
}

.sizeb {
	width: 75%;
}

.sizec {
	width: 50%;
}

.sized {
	width: 35%;
}

.sizee {
	width: 15%;
}


#left,
#right {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

#left {
	left: 10px;
}

#right {
	right: 10px
}

#studiocg, 
#ano,
#artistcg,
#playingcg,
#writingcg,
#teachingcg {
	position: absolute;
	top: 0;
	width: calc(100% / 3);
	height: 50%;
}

#studiocg,
#playingcg {
	left: 0;
}

#ano,
#writingcg {
	left: calc(100% / 3);
}

#artistcg,
#teachingcg {
	left: calc((100% / 3) * 2);
}

#playingcg,
#writingcg,
#teachingcg {
	top: 50%;
	border-top: black 1px solid;
}

#studiocg,
#ano,
#playingcg,
#writingcg {
	border-right: black 1px solid;
}

@media (max-aspect-ratio: 3/2) {
}

@media (max-width: 900px) {

}