* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TimesNewRoman, serif;
}

@font-face {
  font-family: "EY regular"; 
  src: url("Eulyoo1945-Regular.woff");   
}

section {
	width: 100vw;
	white-space: nowrap;
	overflow: auto;
}

body { 
	-ms-overflow-style: none; 
} 

body::-webkit-scrollbar { 
	display: none; 
} 

.nav {
	background-color: black;
	color: white;
	overflow-x: hidden;
}

.nav { 
	-ms-overflow-style: none; 
} 

.nav::-webkit-scrollbar { 
	display: none; 
} 

.nav ul {
	display: flex;
	flex-wrap: wrap;
}

.nav li {
	width: 2vw;
	height: 2vw;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	word-break: break-all;
	text-align: center;
	padding: 0px 10px 0 10px;
	line-height: 1.0;
  font-family: "EB Garamond", serif;
}

.nav .hd {
	padding: 0;
}

.nav .th {
	padding: 2px 0 0 0;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.missing {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.v1, .v2, .v3, .v4 {
	position: absolute;
}

.v1 {
	width: 100vw;
}

.v2 {
	width: 75vw;
	z-index: 2;
}

.v3 {
	width: 50vw;
	z-index: 3;
}

.v4 {
	width: 25vw;
	z-index: 4;
}


.home {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	pointer-events: auto;
}

.garo {
	position: fixed;
	pointer-events: auto;
}

.garo article {
	overflow: auto;
	height: 40px;
	display: flex;
	align-items: center;
	padding: 0 5px 0 5px;
	width: 100vw;
  	font-family: "EB Garamond", serif;
  	font-size: 17px;
}

.garo article:nth-child(1) {
	width: calc(100vw - 40px);
}

.garo article:nth-child(2) {
	width: calc(100vw - 80px);;
}

.garo article:nth-child(3) {
	width: calc(100vw - 120px);;
}

.garo article:nth-child(4) {
	width: calc(100vw - 160px);;
}

.garo article:nth-child(5) {
	width: calc(100vw - 200px);;
}

.garo article:nth-child(6) {
	width: calc(100vw - 240px);;
}

.garo article:nth-child(7) {
	width: calc(100vw - 280px);;
}

.garo article:nth-child(8) {
	width: calc(100vw - 320px);;
}

.garo article:nth-child(9) {
	width: calc(100vw - 360px);;
}

.garo article:nth-child(10) {
	width: calc(100vw - 400px);;
}

.garo article:nth-child(11) {
	width: calc(100vw - 440px);;
}

.garo article:nth-child(12) {
	width: calc(100vw - 480px);;
}

.garo article:nth-child(13) {
	width: calc(100vw - 520px);;
}

.garo article:nth-child(14) {
	width: calc(100vw - 560px);;
}

.garo article:nth-child(15) {
	width: calc(100vw - 600px);;
}

.garo article:nth-child(16) {
	width: calc(100vw - 640px);;
}

.garo article:nth-child(17) {
	width: calc(100vw - 680px);;
}

.garo article:nth-child(18) {
	width: calc(100vw - 720px);;
}

.garo article:nth-child(19) {
	width: calc(100vw - 760px);;
}

.garo article:nth-child(20) {
	width: calc(100vw - 800px);;
}

.garo article:nth-child(21) {
	width: calc(100vw - 840px);;
}

.garo article:nth-child(22) {
	width: calc(100vw - 880px);;
}

.garo article:nth-child(23) {
	width: calc(100vw - 920px);;
}

.garo article:nth-child(24) {
	width: calc(100vw - 960px);;
}

.garo article:nth-child(25) {
	width: calc(100vw - 1000px);;
}

.garo article:nth-child(26) {
	width: calc(100vw - 1040px);;
}

.garo article:nth-child(27) {
	width: calc(100vw - 1080px);;
}

.garo article:nth-child(28) {
	width: calc(100vw - 1120px);;
}

.garo article:nth-child(29) {
	width: calc(100vw - 1160px);;
}

.sero {
	position: fixed;
	display: flex;
	flex-direction: row-reverse;
	align-items: flex-end;
	flex-wrap: nowrap;
	z-index: 2;
	pointer-events: none;
}

.sero article {
	width: 40px;
	height: 100dvh;
	writing-mode: vertical-rl;
	overflow-y: auto;
	display: flex;
	align-items: center;
	padding: 5px 0 5px 0;
	flex-shrink: 0;
	background-color: white;
	pointer-events: auto;
	font-family: "EY regular"; 
}

.sero article {
  	box-shadow: -3px -3px 8px -5px rgba(0, 0, 0, 0.2);
}

.sero article span {
	font-family: "EY regular"; 
}

.sero article:nth-child(1) {
	height: calc(100dvh - 0);
}

.sero article:nth-child(2) {
	height: calc(100dvh - 40px);
}

.sero article:nth-child(3) {
	height: calc(100dvh - 80px);
}

.sero article:nth-child(4) {
	height: calc(100dvh - 120px);
}

.sero article:nth-child(5) {
	height: calc(100dvh - 160px);
}

.sero article:nth-child(6) {
	height: calc(100dvh - 200px);
}

.sero article:nth-child(7) {
	height: calc(100dvh - 240px);
}

.sero article:nth-child(8) {
	height: calc(100dvh - 280px);
}

.sero article:nth-child(9) {
	height: calc(100dvh - 320px);
}

.sero article:nth-child(10) {
	height: calc(100dvh - 360px);
}

.sero article:nth-child(11) {
	height: calc(100dvh - 400px);
}

.sero article:nth-child(12) {
	height: calc(100dvh - 440px);
}

.sero article:nth-child(13) {
	height: calc(100dvh - 480px);
}

.sero article:nth-child(14) {
	height: calc(100dvh - 520px);
}

.sero article:nth-child(15) {
	height: calc(100dvh - 560px);
}

.sero article:nth-child(16) {
	height: calc(100dvh - 600px);
}

.sero article:nth-child(17) {
	height: calc(100dvh - 640px);
}

.sero article:nth-child(18) {
	height: calc(100dvh - 680px);
}

.sero article:nth-child(19) {
	height: calc(100dvh - 720px);
}

.sero article:nth-child(20) {
	height: calc(100dvh - 760px);
}

.sero article:nth-child(21) {
	height: calc(100dvh - 800px);
}

.sero article:nth-child(22) {
	height: calc(100dvh - 840px);
}

.sero article:nth-child(23) {
	height: calc(100dvh - 880px);
}

.sero article:nth-child(24) {
	height: calc(100dvh - 920px);
}

.sero article:nth-child(25) {
	height: calc(100dvh - 960px);
}

.sero article:nth-child(26) {
	height: calc(100dvh - 1000px);
}

.sero article:nth-child(27) {
	height: calc(100dvh - 1040px);
}

.sero article:nth-child(28) {
	height: calc(100dvh - 1080px);
}

.sero article:nth-child(29) {
	height: calc(100dvh - 1120px);
}

.sero article:nth-child(30) {
	height: calc(100dvh - 1160px);
}

.sero article:nth-child(31) {
	height: calc(100dvh - 1200px);
}

.sero article:nth-child(32) {
	height: calc(100dvh - 1240px);
}

.mt {
	margin-top: 10px;
}

.wd {
	overflow: hidden;
}

.wd .left,
.wd .right {
	position: absolute;
	width: 50dvw;
}

.wd .left article,
.wd .right article {
	overflow-y: scroll;
	height: 100dvh;
	background-color: white;
	font-family: "EY regular"; 
}

.wd article .n,
.wd article .jm, 
.wd article .ur,
.wd article .q,
.wd article a {
	font-family: "EY regular"; 
}

.wd .left {
	left: 0;
	writing-mode: vertical-lr;
	overflow-x: hidden;
}

.wd .right {
	right: 0;
	writing-mode: vertical-rl;
}

.wd .top,
.wd .btm {
	position: absolute;
	width: 100dvw;
	height: 50dvh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	overflow-x: hidden;
	pointer-events: none;
}

.wd .top {
	top: 0;
}

.wd .btm {
	bottom: 0;
	writing-mode: horizontal-bt;
}

.wd .top article,
.wd .btm article {
	overflow-x: scroll;
	text-align: center;
	background-color: white;
 	flex-shrink: 0;
 	pointer-events: auto; 
   font-family: "EB Garamond", serif;
}

.wd .top article:nth-child(1),
.wd .btm article:nth-child(1) {
	width: calc(100dvw - 36px);
}

.wd .top article:nth-child(2),
.wd .btm article:nth-child(2) {
	width: calc(100dvw - 102px);
}

.wd .top article:nth-child(3),
.wd .btm article:nth-child(3) {
	width: calc(100dvw - 168px);
}

.wd .top article:nth-child(4),
.wd .btm article:nth-child(4) {
	width: calc(100dvw - 234px);
}

.wd .top article:nth-child(5),
.wd .btm article:nth-child(5) {
	width: calc(100dvw - 300px);
}

.wd .top article:nth-child(6),
.wd .btm article:nth-child(6) {
	width: calc(100dvw - 366px);
}

.wd .top article:nth-child(7),
.wd .btm article:nth-child(7) {
	width: calc(100dvw - 432px);
}

.wd .top article:nth-child(8),
.wd .btm article:nth-child(8) {
	width: calc(100dvw - 498px);
}

.wd .top article:nth-child(9),
.wd .btm article:nth-child(9) {
	width: calc(100dvw - 564px);
}

.wd .top article:nth-child(10),
.wd .btm article:nth-child(10) {
	width: calc(100dvw - 630px);
}

.wd .top article:nth-child(11),
.wd .btm article:nth-child(11) {
	width: calc(100dvw - 696px);
}

.wd .top article:nth-child(12),
.wd .btm article:nth-child(12) {
	width: calc(100dvw - 762px);
}

.wd .top article:nth-child(13),
.wd .btm article:nth-child(13) {
	width: calc(100dvw - 828px);
}

.wd .top article:nth-child(14),
.wd .btm article:nth-child(14) {
	width: calc(100dvw - 894px);
}

.wd .top article:nth-child(15),
.wd .btm article:nth-child(15) {
	width: calc(100dvw - 960px);
}

.wd .top article:nth-child(16),
.wd .btm article:nth-child(16) {
	width: calc(100dvw - 1026px);
}

.wd .top article:nth-child(17),
.wd .btm article:nth-child(17) {
	width: calc(100dvw - 1092px);
}

.wd .top article:nth-child(18),
.wd .btm article:nth-child(18) {
	width: calc(100dvw - 1158px);
}

.wd .top article:nth-child(19),
.wd .btm article:nth-child(19) {
	width: calc(100dvw - 1224px);
}

.wd .top article:nth-child(20),
.wd .btm article:nth-child(20) {
	width: calc(100dvw - 1290px);
}

.wd .top article:nth-child(21),
.wd .btm article:nth-child(21) {
	width: calc(100dvw - 1356px);
}

.wd .top article:nth-child(22),
.wd .btm article:nth-child(22) {
	width: calc(100dvw - 1422px);
}

.wd .top article:nth-child(23),
.wd .btm article:nth-child(23) {
	width: calc(100dvw - 1488px);
}

.wd .top article:nth-child(24),
.wd .btm article:nth-child(24) {
	width: calc(100dvw - 1554px);
}

.wd .top article:nth-child(25),
.wd .btm article:nth-child(25) {
	width: calc(100dvw - 1620px);
}

.wd .top article:nth-child(26),
.wd .btm article:nth-child(26) {
	width: calc(100dvw - 1686px);
}

.wd .top article:nth-child(27),
.wd .btm article:nth-child(27) {
	width: calc(100dvw - 1752px);
}

.wd .top article:nth-child(28),
.wd .btm article:nth-child(28) {
	width: calc(100dvw - 1818px);
}


/*
@media screen and (max-aspect-ratio: 9/15) {

	.wd .top article:nth-child(1),
	.wd .btm article:nth-child(1) {
		width: calc(100dvw - 40px);
	}

	.wd .top article:nth-child(2),
	.wd .btm article:nth-child(2) {
		width: calc(100dvw - 80px);
	}

	.wd .top article:nth-child(3),
	.wd .btm article:nth-child(3) {
		width: calc(100dvw - 120px);
	}

	.wd .top article:nth-child(4),
	.wd .btm article:nth-child(4) {
		width: calc(100dvw - 160px);
	}

	.wd .top article:nth-child(5),
	.wd .btm article:nth-child(5) {
		width: calc(100dvw - 200px);
	}

	.wd .top article:nth-child(6),
	.wd .btm article:nth-child(6) {
		width: calc(100dvw - 240px);
	}

	.wd .top article:nth-child(7),
	.wd .btm article:nth-child(7) {
		width: calc(100dvw - 280px);
	}

	.wd .top article:nth-child(8),
	.wd .btm article:nth-child(8) {
		width: calc(100dvw - 320px);
	}

	.wd .top article:nth-child(9),
	.wd .btm article:nth-child(9) {
		width: calc(100dvw - 360px);
	}

	.wd .top article:nth-child(10),
	.wd .btm article:nth-child(10) {
		width: calc(100dvw - 400px);
	}

	.wd .top article:nth-child(11),
	.wd .btm article:nth-child(11) {
		width: calc(100dvw - 440px);
	}

	.wd .top article:nth-child(12),
	.wd .btm article:nth-child(12) {
		width: calc(100dvw - 480px);
	}

	.wd .top article:nth-child(13),
	.wd .btm article:nth-child(13) {
		width: calc(100dvw - 520px);
	}

	.wd .top article:nth-child(14),
	.wd .btm article:nth-child(14) {
		width: calc(100dvw - 560px);
	}

	.wd .top article:nth-child(15),
	.wd .btm article:nth-child(15) {
		width: calc(100dvw - 600px);
	}

	.wd .top article:nth-child(16),
	.wd .btm article:nth-child(16) {
		width: calc(100dvw - 640px);
	}

	.wd .top article:nth-child(17),
	.wd .btm article:nth-child(17) {
		width: calc(100dvw - 680px);
	}

	.wd .top article:nth-child(18),
	.wd .btm article:nth-child(18) {
		width: calc(100dvw - 720px);
	}

	.wd .top article:nth-child(19),
	.wd .btm article:nth-child(19) {
		width: calc(100dvw - 760px);
	}

	.wd .top article:nth-child(20),
	.wd .btm article:nth-child(20) {
		width: calc(100dvw - 800px);
	}

	.wd .top article:nth-child(21),
	.wd .btm article:nth-child(21) {
		width: calc(100dvw - 840px);
	}

	.wd .top article:nth-child(22),
	.wd .btm article:nth-child(22) {
		width: calc(100dvw - 880px);
	}

	.wd .top article:nth-child(23),
	.wd .btm article:nth-child(23) {
		width: calc(100dvw - 920px);
	}

	.wd .top article:nth-child(24),
	.wd .btm article:nth-child(24) {
		width: calc(100dvw - 960px);
	}

	.wd .top article:nth-child(25),
	.wd .btm article:nth-child(25) {
		width: calc(100dvw - 1000px);
	}

	.wd .top article:nth-child(26),
	.wd .btm article:nth-child(26) {
		width: calc(100dvw - 1040px);
	}

	.wd .top article:nth-child(27),
	.wd .btm article:nth-child(27) {
		width: calc(100dvw - 1080px);
	}

	.wd .top article:nth-child(28),
	.wd .btm article:nth-child(28) {
		width: calc(100dvw - 1120px);
	}

}
*/

@media screen and (max-width: 1600px) {

	.nav li {
		width: 4vw;
		height: 4vw;
	}

	.sm section {
		width: 5vw;
		height: 5vw;
	}

@media screen and (max-width: 1200px) {

	.sero {
		position: fixed;
		flex-wrap: nowrap;
	}

	.home {
		overflow-y: auto;
	}

	.sero article:nth-child(19),
	.sero article:nth-child(20), 
	.sero article:nth-child(21),
	.sero article:nth-child(22), 
	.sero article:nth-child(23),
	.sero article:nth-child(24), 
	.sero article:nth-child(25),
	.sero article:nth-child(26), 
	.sero article:nth-child(27),
	.sero article:nth-child(28), 
	.sero article:nth-child(29),
	.sero article:nth-child(30), 
	.sero article:nth-child(31),
	.sero article:nth-child(32) {
		display: none;
	}

	.garo article:nth-child(1),
	.garo article:nth-child(2),
	.garo article:nth-child(3),
	.garo article:nth-child(4),
	.garo article:nth-child(5),
	.garo article:nth-child(6),
	.garo article:nth-child(7),
	.garo article:nth-child(8),
	.garo article:nth-child(9),
	.garo article:nth-child(10),
	.garo article:nth-child(11),
	.garo article:nth-child(12),
	.garo article:nth-child(13),
	.garo article:nth-child(14),
	.garo article:nth-child(15),
	.garo article:nth-child(16),
	.garo article:nth-child(17),
	.garo article:nth-child(18),
	.garo article:nth-child(19),
	.garo article:nth-child(20),
	.garo article:nth-child(21),
	.garo article:nth-child(22),
	.garo article:nth-child(23),
	.garo article:nth-child(24)
	.garo article:nth-child(25),
	.garo article:nth-child(26),
	.garo article:nth-child(27),
	.garo article:nth-child(28),
	.garo article:nth-child(29) {
		width: 100vw
	}

}

@media screen and (max-width: 800px) {

	.nav li {
		width: 10vw;
		height: 10vw;
		padding: 1px 7px 0 7px;
	}

	.sm article {
		width: 10vw;
		height: 10vw;
	}

}

@media screen and (max-width: 400px) {

	.nav li {
		width: 20vw;
		height: 20vw;
		padding: 1px 7px 0 7px;
	}

	.sm article {
		width: 20vw;
		height: 20vw;
	}
}

@media screen and (max-width: 200px) {

	.nav li {
		width: 50vw;
		height: 50vw;
		padding: 1px 7px 0 7px;
	}

	.sm article {
		width: 50vw;
		height: 50vw;
	}
}

@media screen and (max-width: 100px) {

	.nav li {
		width: 100vw;
		height: 100vw;
		padding: 1px 7px 0 7px;
	}
}

@media screen and (max-aspect-ratio: 16/9) {
	.v1 {
		height: 100vh;
		width: auto;
	}

	.v2 {
		height: 75vh;
		width: auto;
	}

	.v3 {
		height: 50vh;
		width: auto;
	}

	.v4 {
		height: 25vh;
		width: auto;
	}
}

@media screen and (max-aspect-ratio: 9/16) {
	.v1 {
		transform: rotate(90deg);
		width: 100vh;
	}

	.v2 {
		transform: rotate(90deg);
		width: 75vh;
	}

	.v3 {
		transform: rotate(90deg);
		width: 50vh;
	}

	.v4 {
		transform: rotate(90deg);
		width: 25vh;
	}
}